.aw {
    background-color: crimson;
}
.ANG {
    background-color: aquamarine;

}
.XL {
    background-color: burlywood;
}
.MME {
    background-color: blueviolet;
}
.MOPTATIU {
    background-color: blue;
}
.SOM {
    background-color: chartreuse;
}
.IPO1 {
    background-color: chocolate;
}
.IPO2 {
    background-color: gold;
}
.AO {
    background-color: gray;
}
.TUTORIA {
    background-color: olive;
}

.textColorWhite {
    color: whitesmoke;
}